# ignore pugixml docs and tests
.gitignore
.DS_Store
npm-debug.log
node_modules
.travis.yml
appveyor.yml
TODO.md
build
test
benchmark
coverage
examples
lib
*.png
build.sh
dist/pugixml.o
dist/camaro.wasm
# dont need src folder since we publish dist folder
src