# ignore pugixml docs and tests
.github
.gitignore
.DS_Store
npm-debug.log
node_modules
.travis.yml
appveyor.yml
TODO.md
build
test
benchmark
coverage
examples
lib
*.png
build.sh
dist/*.o
# dont need src folder since we publish dist folder
src
.vscode
azure-pipelines.yml
azure-test.yml